# Default ignored files
/../../../Università/units.enricolacchin.com/.idea/shelf/
/../../../Università/units.enricolacchin.com/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../Università/units.enricolacchin.com/.idea/httpRequests/
# Datasource local storage ignored files
/../../../Università/units.enricolacchin.com/.idea/dataSources/
/../../../Università/units.enricolacchin.com/.idea/dataSources.local.xml
